<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>loginRole</filter-name>
    <filter-class>school.admin.filters.loginRole</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginRole</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sessionFilter</filter-name>
    <filter-class>school.admin.filters.SessionAuthentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>application/javascript</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file</param-name>
    <param-value>G:\ducat java\java\tomcat server\webapps\schoolData\</param-value>
  </context-param>
  <context-param>
    <description>Temporary folder for uploads</description>
    <param-name>tmp</param-name>
    <param-value>G:\ducat java\java\tomcat server\webapps\schoolData\tmp</param-value>
  </context-param>
</web-app>